.home {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 3rem;
  padding: 2rem;
}

.buttonPanel {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 2rem;
}
