.inbox {
  display: grid;
  justify-content: stretch;
  align-content: center;
  gap: 2rem;
}

.topbarInbox {
  display: grid;
  grid-template-columns: 24px 1fr;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem;
  background-color: var(--regal-navy);
  color: white;
}

.conversationList {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  padding: 0;
}
